
.crust 
{
	form
	{
		padding:5px;
	}

	.large-form
	{
		padding:1em;
	}
	
	.app-form-wrap
	{
		&.shaded
		{
			background:white;
			box-shadow: 0 0 10px rgba(0,0,0,0.2);
		}

		&.rounded
		{
			border-radius:3px;
			background:white;
		}
		
		&.bordered
		{
			border:solid 1px $defaultlinecolor;
		}

		input[type=text], 
		input[type=password], 
		input[type=email], 
		input[type=date], 
		textarea
		{
			line-height:2.4em;
			border-radius:3px;
			padding:5px;
			border:solid 1px $defaultlinecolor;
			color:$defaultlinecolor;
			background:white;
			width:100%;
			padding:0 1em;
			font-size:inherit;
			
			&:focus
			{
				border-color:$focusbordercolor;
				outline:none;
			}
		}
		
		textarea
		{
			line-height:1em;
		}

		.input-wrap,.button-wrap
		{
			margin-top:0.5em;
			&:first-of-type
			{
				margin-top:0;
			}
		}
		label,
		.form-link-wrap
		{
			display:inline-block;
			line-height:2em;
			padding:0 0.2em;
			vertical-align:text-bottom;
			&.with-note
			{
				width:auto;
			}
		}

		.form-link
		{
			text-decoration:none;
			line-height:1;
			display:inline-block;
			padding:0.2em;
			margin:-0.2em;
			border-radius:3px;
			&:hover
			{
				background-color:$hoverbgcolor;
			}
		}

		label
		{
			width:100%;
		}

		.button-wrap
		{
			margin-top:2.2em;
		}
		
		button
		{
			width:100%;
			display:inline-block;
			color:$defaultbuttontxt;
			background-color:$defaultbuttonbkg;
			border:solid 1px $defaultbuttonbkg;
			border-radius:2em;
			line-height:2em;
			font-size:inherit;
			cursor:pointer;
			&:hover
			{
				color:$defaultbuttonbkg;
				background-color:$defaultbuttontxt;
			}
		}
		
		.center-button
		{
			margin:0 auto;
			width:60%;
			display:block;
		}
		
		.form-footer-info
		{
			text-align:center;
			margin-top:1em;
			font-size:90%;
		}
	}
}

.login-process
{
	form .error
	{
		margin : -1em -2em 1em -2em;
		padding: 1em;
	}
}