

body, html
{
	font-size:12px;
	font-family:$crustregular;
}

body 
{
	margin:0;
}

*
{
	box-sizing:border-box;
}

.clearfix
{
	content: "";
	display: table;
	clear: both;
}


.centering-wrap
{
	position:relative;
	height:100vh;
	width:100%;
	.centered
	{
		display:inline-block;
		margin:0 auto;
		position: absolute;
		top: 50%; left: 50%;
		transform: translate(-50%,-50%);
	}
}

.float-right
{
	float:right;
}
.float-left
{
	float:left;
}

.crust-window-header
{
	border-bottom:solid 1px $defaultlinecolor;
	background-color:white;
}

.inactive-area
{
	background-color:$inactivebgcolor;
}

.tab-wrapper
{
	min-height:100vh;
	padding-top:6rem;
	//margin-top:-6rem;
}

a, a:visited, a:active
{
	color:#1397CB;
}

.login-process
{
	min-width:300px;
}

.error
{
	font-size:inherit;
	background:$errorbkgcolor;
	color:$errortxtcolor;
}

.new-tab
{
	background-color:black;
}

.crust-available-apps
{
	list-style:none;
	padding:0;
	margin:0 auto;
	
}

.crust-available-app
{
	width:80vw;
	height:10vh;
	color:white;
	background-color:red;
	text-align:center;
	line-height:5vh;
	margin:2vh auto;
	font-size:1.8rem;
	a, label
	{
		display:inline-block;
		width:100%;
		color:white;
		line-height:1;
		padding:0.5vh;
		vertical-align:top;
		text-decoration:none;
		&:first-child
		{
			vertical-align:bottom;
		}
	}
	&:last-of-type
	{
		margin-bottom:0;
	}
}

.crust-available-app.appyellow
{
	background-color:$appyellow;
}

.crust-available-app.appred
{
	background-color:$appred;
}

.crust-available-app.appgreen
{
	background-color:$appgreen;
}

.crust-available-app.appblue
{
	background-color:$appblue;
}

.crust-available-app.appgrey
{
	background-color:$appgrey;
}

.crust-available-app.applime
{
	background-color:$applime;
}

.crust-available-app.appcream
{
	background-color:$appcream;
}

.app-list
{
    position: absolute;
    z-index: 2;
    top: 6rem;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.95);
}

.crust
{
	// resets and global items
	max-width:100vw;
	min-height:100vh;
	background-color : $mainbgcolor;
	font-family:$crustregular;
	border:0;
	padding:0;
	margin:0;
	
	*
	{
		box-sizing:border-box;
	}

	/*
	.none { display: none;}
	:focus,
	:active { outline: 0 }
	a { text-decoration: none }
	li { list-style: none }
	*/

	label
	{
		cursor:pointer;
	}
	
	&_readable_text
	{
		font-size:0;
	}

	&_profile-pic
	{
		display:inline-block;
		height:3rem;
		width:3rem;
		border:solid 2px $defaultlinecolor;
		border-radius:100%;
		background:url('/static/pics/no-profile-pic.png') center center no-repeat;
		background-size:contain;
	}

	&-invisible-button
	{
		visibility:hidden;
	}
	
	&-closer
	{
		display:block;
		float:right;
		font-size:2rem;
	}
	
	// HEADER
	&_main-header
	{
		position:fixed;
		width: 100%;
		left:0;
		right:0;
		overflow:hidden;
		background-color: $headerbgcolor;
		box-shadow: 0 0.1rem 0.2rem 0 rgba($defaulttextcolor, 0.1);
		height: 6rem;
		max-height: 6rem;
		top:0;
		z-index:999;

		&_title-wrap
		{
			float:left;
			display:block;
			line-height:6rem;
			margin:0 0.5rem 0 1.5rem;
		}
		
		.crust_main-header_title-wrap
		{
			float:left;
		}

		&_title
		{
			
			font-size:2.4rem;
			line-height:1;
			display:inline-block;
			vertical-align:middle;
			&__pf
			{
				background-color:$pfbgcolor;
				line-height:1;
				display:inline-block;
				padding:0.2rem 0.5rem;
				vertical-align:middle;
				border-radius:2rem;
				font-weight:normal;
				font-size:1rem;
				font-family:$crustsemibold;
				text-transform:uppercase;
				margin-left:1rem;
			}
		}
		&_toolbox
		{
			float:right;
			line-height:6rem;
			margin-right:1.5rem;
			vertical-align:middle;

			&-item
			{
				display:inline-block;
				line-height: 1;
				vertical-align: middle;		
				margin: 0 0 0 1rem;
				i
				{
					display:inline-block;
					min-width:3rem;
					font-size:3rem;
					color:$defaultlinecolor;
					//border:solid 2px transparent;
					border-radius:100%;				
				}
			}
			
			&_notification
			{
				&:after
				{
					display:inline-block;
					border-radius:100%;
					content:".";
					background-color:$notificationcolor;
					height:1rem;
					width:1rem;
					margin-left:-1.5rem;
					font-size:1;
					color:$headerbgcolor;
					border:solid 2px $headerbgcolor;
				}				
			}
			&_profile, &_menu
			{
				margin-top:1px;
			}
			
			&_has_notification
			{
				margin-top:-2px;
			}
			
			&_menu
			{
			}
		}
	}

	// mainmenu switch
	&_sliding_menu
	{
		//display:none;
		position:fixed;
		width:0%;
		height:calc(100vh - 6rem);
		max-height:100vh;
		overflow-x:hidden;
		overflow-y:auto;
		background-color:$headerbgcolor;
		border-right:solid 1px $defaultlinecolor;
		margin:0;
		left:0;
		top:0;
		margin:0;
		margin-top:6rem;
		z-index:2;
		-webkit-transition: width 0.5s ease; /* For Safari 3.1 to 6.0 */
		transition: width 0.5s ease;		
	}
	
	&_main-menu_list
	{
		line-height:2rem;
		list-style:none;
	}
	
	&_main-menu_item
	{
		padding:0.2rem 1.5rem;
		margin:0;
		list-style:none;
	}
	
	&_main-menu
	{
		z-index:9;
	}
	
	#crust_show-main-menu:checked 
	~ .crust_main-menu
	{
		display:block;
		width:80vw; 
	}
}
