
.crust
{

	// header elements
	&_iam-header
	{
		top:6rem;
		height:6rem;
		line-height:6rem;
		border-bottom:solid 1px $defaultlinecolor;
		background-color:$mainbgcolor;
		padding: 0 1.5rem;
		z-index:2;
		i
		{
			display:inline-block;
			font-size:2rem;
			line-height:1;			
		}		
		
		&_toolbox
		{
			display:inline-block;
			line-height:6rem;
			vertical-align:middle;
			label
			{
				line-height:1;
				padding:1rem;
			}
		}
	}

	&_iam_messages_wrapper
	{
		height:auto;
		max-width:100vw;
		padding:0 1.5rem 0rem 1.5rem;
	}
	
	&_iam_main__message__content-wrap
	{
		display:block;
		border-radius:0.5rem;
		padding:0.5rem;
		background-color:white;
	}
	
	&_iam_show_threads,
	&_iam_thread_n_project
	{
		float:left;
	}
	
	&_iam-thread,
	&_iam-project
	{
		display:inline-block;
		max-width:calc(50% - 0.9rem);
		white-space:nowrap;
		overflow:hidden;
		text-overflow:ellipsis;
	}
	
	&_iam-thread
	{
		font-family: $crustheavy;
		font-size:1.5rem;
		display:inline-block;
		vertical-align:middle;
		font-weight: normal;
	}

	&_iam-project
	{	
		background-color:$projectbgcolor;
		color:$projecttxtcolor;
		text-transform:uppercase;
		border-radius:0.5rem;
		font-size:0.9rem;
		padding:0.2rem 0.5rem;
		margin-left:0.9rem;
		vertical-align:middle;
		line-height:1;
	}
	
	&_iam_thread_n_project
	{
		width:calc(100% - 12rem);
		overflow:hidden;
		text-overflow:ellipsis;
	}
	
	&_iam-header_toolbox
	{
		float:right;
	}
	
	&_iam-people,
	&_iam-info
	{
		i
		{
			vertical-align:middle;
		}
	}
	
	&_iam-people
	{
		margin-right:1.5rem;
		&_count
		{
			color:$defaulticoncolor;
			vertical-align:super;
			font-size:1rem;
			margin-right:-0.5rem;
		}
	}

	
	&_iam_show_threads
	{
		display:inline-block;
		vertical-align:middle;
		font-size:2rem;
		line-height:1;
		margin-right:1.5rem;
	}

	&_iam-thread
	{
		font-size:1.5rem;
		line-height:2rem;
		vertical-align:middle;
	}
	
	&_iam_show_threads
	{
		display:block;
		vertical-align:middle;
		font-size:2rem;
		line-height:6rem;
		margin-right:1.5rem;
	}

	
	&_iam-menu
	{
		line-height:2rem;
		list-style:none;
	}

	&_iam-menu_item,
	&_iam-channel_item
	{
		padding:0.2rem 1.5rem;
		margin:0;
		list-style:none;
	}

	&_iam-channel_members
	{
		right:0;
		left:auto;
		border-right:none;
		border-left:solid 1px $defaultlinecolor;
		margin-top:12.1rem;
	}
	
	&_iam-menu
	{
		font-size:1.6rem;
		line-height:2.5rem;
	}

	&_iam_main__messages
	{
		padding:0;
		list-style:none;
	}
	&_iam_main__message
	{
		padding-left:50px;
		position:relative;
		margin-bottom:1rem;
	}
	&_iam_main__message__meta-avatar,
	&_iam_main__message__meta-time
	{
		position:absolute;
		left:0;
		top:0;
	}
	&_iam_main__message__meta-time
	{
		top:4rem;
	}
	&_iam_main__message__meta-date
	{
		display:none;
	}
	&_iam_main__message:hover
	{
		.crust_iam_main__message__meta-date
		{
			display:block;
			float:right;
		}
	}
	&_iam_main__message--current
	{
		.crust_iam_main__message__content
		{
			background-color:$currentmessagebgcolor;
			color:$currentmessagetxtcolor; 
			&:before
			{
				background-color:$currentmymessagebgcolor;
			}
		}
	}
	
	&_iam_main__message__content
	{
		position:relative;
		background-color:$messagebgcolor;
		padding:6px;
		border-radius:3px;
		margin:0;
		font-size:1.6rem;
		&:before
		{
			content:" ";
			background-color:$messagebgcolor;
			position:absolute;
			left:-5px;
			top:8px;
			width:10px;
			height:10px;
			transform:rotate(45deg);
		}
		&.from_me
		{
			background-color:$currentmymessagebgcolor;
			span
			{
				background-color:$currentmymessagebgcolor;
			}
			&:before
			{
				background-color:$currentmymessagebgcolor;
			}
		}		
	}
}

.crust_iam-channel_subitems,
.crust_iam-menu_item,
.crust_main-menu_list
{
	padding:0;
	margin:0;
}

.crust_main-menu_list
{
	a, span
	{
		padding-left:3rem;
	}
}

.crust_iam-channel_item
{
	border-right:solid 3px transparent;
	&.current
	{
		background-color:rgba($appblue,0.15);
		border-color:$appblue;
		a
		{
			color:$appblue;
			font-weight:bold;
		}
	}
}

.crust_iam_show_threads
{
	display:none;
}

.new-channel
{
	span,i
	{
		background-color: $appgrey;
		color:white;
	}
	span
	{
		display:block;
		width:75%;
		line-height:1.5rem;
		padding:0.25em 0.5em;
		border-radius:1.5em;
		margin-left:2.5rem;
	}
}