.crust
{
	&_iam_main
	{
		padding:0;
	}

	&_iam-menu
	{
		float:left;
		display:block;
		width:25vw;
		transition:none;
		padding-top:5rem;
		.crust-closer
		{
			display:none;
		}
	}

	&_iam_messages_wrapper
	{
		float:right;
		width:calc(100% - 25vw);
		//margin-bottom:6rem;
		padding:0;
	}
	
	&_iam-menu,
	&_iam-header
	{
		position:fixed;	
	}
		
	&_iam_footer,
	&_iam-header
	{
		left:25vw;
		width:calc(100% - 25vw);
	}

	&_iam-header
	{
		height:7rem;
		line-height:7rem;
	}
	
	&_iam_thread_n_project
	{
		padding-top:1rem;
	}
}

.crust_iam_footer
{
	position:fixed;
	height:4rem;
	line-height:4rem;
	bottom:0;

	.message-input
	{
		display:block;
		width:90%;
		margin:0 auto;
		background-color:transparent;
		border:solid 1px $defaultlinecolor;
		padding:0.5em;
		border-radius:5px;
		font-size:1.5rem;
	}
}

.crust_iam-channel_members
{
	margin-top:10.1rem;
}

.crust_iam_main__messages
{
	max-height:calc(100vh - 19rem);
	overflow-x:hidden;
	overflow-y:auto;
	padding:1rem 0 0 1.5rem;
}

.from-me
{

}

.crust_iam_main__message
{
	margin-top:2rem;
	clear:both;
}

.channel
{
	padding-top:3rem;
}
