//initial stuff
@import "./assets/sass/_0.declare";
@import "./assets/sass/_0.functions";
@import "./assets/sass/_0.font.nunito";
@import "./assets/sass/_0.font.icons";
@import "./assets/sass/_0.font.icon-aliases";

//crust app
@import "./assets/sass/_1.0.all.app";
@import "./assets/sass/_1.0.all.forms";
@import "./assets/sass/_1.1.all.tabs";
@import "./assets/sass/_1.2.iam";

@media (min-width: 768px) 
{
	@import "./assets/sass/_2.0.wide.app";
	@import "./assets/sass/_2.0.wide.forms";
	@import "./assets/sass/_2.2.wide.iam";
}
