/* stylelint-disable no-descending-specificity */
html {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

.vue-grid-layout {
  transition: none !important;
}

.vue-grid-item {
  transition: none !important;
  overflow-x: hidden;
  overflow-y: auto;

  .card-header {
    border-bottom-width: 3px;
  }
}

.vs__dropdown-toggle {
  border-radius: 0;
  height: 35px;
  padding-top: 6px;
  padding-bottom: 6px;

  .vs__selected {
    margin: 0;
    height: 100%;
  }
}

.vs__clear,
.vs__open-indicator {
  fill: $secondary;
}

.ns-logo {
  i {
    background-image: url($logo);
  }
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-image: url($logo);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 130px;
  padding-top: 180px;

  .pending {
    width: 30px;
  }
}

.ProseMirror.ProseMirror-focused {
  outline: none;
}

// Rich text content styling
.rt-content {
  p {
    margin: 0;
    padding: 0;
  }

  // blockquote
  blockquote {
    border-left: 3px solid rgba($black, 0.1);
    padding-left: 0.8rem;
    font-style: italic;
  }

  // Code
  pre {
    background-color: #23241f;
    color: #f8f8f2;
    overflow: visible;
    white-space: pre-wrap;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 3px;
  }

  // todo list - https://github.com/scrumpy/tiptap/blob/master/examples/Components/Routes/TodoList/index.vue
  li[data-type="todo_item"] {
    display: flex;
    flex-direction: row;
  }

  .todo-checkbox {
    border: 2px solid $black;
    height: 0.9em;
    width: 0.9em;
    box-sizing: border-box;
    margin-right: 10px;
    margin-top: 0.3rem;
    user-select: none;
    cursor: pointer;
    border-radius: 0.2em;
    background-color: transparent;
    transition: 0.4s background;
  }

  .todo-content {
    flex: 1;

    > p:last-of-type {
      margin-bottom: 0;
    }

    > ul[data-type="todo_list"] {
      margin: 0.5rem 0;
    }
  }

  li[data-done="true"] {
    > .todo-content {
      > p {
        text-decoration: line-through;
      }
    }

    > .todo-checkbox {
      background-color: $black;
    }
  }

  li[data-done="false"] {
    text-decoration: none;
  }
}

fieldset.required {
  &.error {
    legend::before {
      color: $danger;
    }
  }

  legend::before {
    content: "*";
    display: inline-block;
    color: $primary;
    vertical-align: sub;
    margin-right: -5px;
    width: 10px;
    height: 16px;
    overflow: hidden;
  }
}
