/* stylelint-disable no-descending-specificity */
html {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  overflow: auto;
  height: 100vh;
}

.vue-grid-layout {
  transition: none !important;
}

.vue-grid-item {
  transition: none !important;
  overflow-x: hidden;
  overflow-y: auto;

  .card-header {
    border-bottom-width: 3px;
  }

  &:not(.vue-grid-placeholder) {
    background: #fff;
  }

  &.resizing {
    opacity: 0.9;
  }

  .Chart,
  .Calendar {
    .card-body {
      padding: 10px;
    }
  }
}

.vs__dropdown-toggle {
  border-radius: 0;
  height: 35px;
}

.ns-logo {
  i {
    background-image: url($logo);
  }
}

@keyframes flickerAnimation {
  0% { opacity: 0.6; }
  50% { opacity: 0.1; }
  100% { opacity: 0.6; }
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  opacity: 0.7;
  animation: flickerAnimation 3s infinite;
  background-image: url($logo);
  background-position: center;
  background-repeat: no-repeat;
}
