.actions {
  text-align: right;
  white-space: nowrap;

  a {
    color: $black;
    vertical-align: middle;
    cursor: pointer;

    i {
      color: $black;
    }

    &.action {
      padding: 0 10px;
    }

    &:hover {
      text-decoration: none;

      i {
        color: $appblue;
      }
    }
  }

  .confirmation {
    display: inline-block;
    min-width: 90px;
    text-align: right;
  }

  .action {
    &-disabled {
      display: inline-block;
      width: 35px;
    }
  }
}

.confirmation-small{
  display: inline-block;
  min-width: 80px;
  text-align: right;
  .btn{
    padding: 0 10px;
  }
}
