@import "@/assets/sass/_0.declare.scss";

ul,li {
  padding: 0;
  margin: 0;
}

header {
  border-right: 1px solid $appcream;
  height: 50px;
}

nav {
  height: 50px;
}

.nav-link {
  color: $black;
  border-bottom: 2px solid $white;

  &.router-link-active {
    border-color: $appblue;
    color: $appblue;
  }
}

.channel-toggle {
  cursor: pointer;
}

.navbar {
  padding: 0;
  background: $white;
  z-index: 1;
  box-shadow: 0 0.1rem 0.2rem 0 rgba(30, 34, 36, 0.1);
  border-bottom: 1px solid $appcream;
}

.navbar-toggler {
  margin: 0 5px 0 10px;
  font-size: 24px;
  padding: 0;
  border: none;

  &:focus,
  &:hover {
    outline: none;
  }
}

.admin-panel {
  position: absolute;
  right: 10px;
  color: $black;
  background: $white;
  z-index: 5;
}

.navbar-collapse {
  width: 100%;
  display: block;
  background: $appwhite;
  z-index: 1;
}

@media (max-width: 767px) {
  .navbar {
    padding: 10px 0;
  }

  .navbar-text {
    display: block;
  }

  .admin-panel {
    position: relative;
    padding-left: 15px;
  }

  .navbar-collapse {
    position: absolute;
    top: 51px;
    left: -250px;
    width: 250px;
    max-width: 100%;
    transition: all 0.3s;
    height: calc(100vh - 50px);
    overflow-y: scroll;

    &.visible {
      left: 0;
    }

    &.collapsing {
      height: calc(100vh - 50px) !important;
    }
  }
}

@media (min-width: 768px) {
  .page-title {
    visibility: hidden;
  }
}
