.VuePagination {
  .pagination {
    float: right;
    margin: 0;
    padding: 0;

    .page-item {
      .page-link {
        color: $appblue;
        outline: none;
        box-shadow: none;
      }

      &.disabled {
        .page-link {
          color: $appgrey;
        }
      }

      &.active {
        .page-link {
          background: $appblue;
          border-color: $appblue;
          color: $white;
        }
      }
    }

    .VuePagination__pagination-item-prev-chunk,
    .VuePagination__pagination-item-next-chunk {
      display: none;
    }
  }

  .VuePagination__count {
    margin: 10px 10px 0;
    display: inline-block;
  }
}

.sticky-footer {
  height: 40px;
  background: white;
  position: sticky;
  bottom: 0;
  margin-bottom: -5px;
  padding-top: 5px;
  box-shadow: 0 -1px #dee2e6;
}
