.VuePagination {
  .pagination {
    position: sticky;
    top: -1px;
    background: $white;
    box-shadow: 0 1px #dee2e6;
    float: right;

    .page-item {
      .page-link {
        color: $appblue;
        outline: none;
        box-shadow: none;
      }

      &.disabled {
        .page-link {
          color: $appgrey;
        }
      }

      &.active {
        .page-link {
          background: $appblue;
          border-color: $appblue;
          color: $white;
        }
      }
    }

    .VuePagination__pagination-item-prev-chunk,
    .VuePagination__pagination-item-next-chunk {
      display: none;
    }

    .VuePagination__count {
      margin-left: 10px;
    }
  }
}

.sticky-footer {
  height: 40px;
  background: white;
  position: sticky;
  bottom: 0;
  padding-top: 10px;
  box-shadow: 0 -1px #dee2e6;
}
