html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    font-size: 14px;

    // font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    // color: $font-color;
}

.view {
    overflow: auto;
    height: 100%;
}
