@import "./assets/sass/index.scss";

// all the common stuff
// vars
@import "./assets/sass/_0.declare.scss";
// usefull mixxins ? @todo sort and remove useless
@import "./assets/sass/_0.functions.scss";
// nunito global font
@import "./assets/sass/_0.font.nunito.scss";
// icomoon font
@import "./assets/sass/_0.font.icons.scss";
// usefull aliases for icons
@import "./assets/sass/_0.font.icon-aliases.scss";
// resets and common elements.
@import "./assets/sass/_0.commons.scss";