@import "_0.declare";

body, html {
  font-size: 12px;
  font-family: $crustregular;
  box-sizing: border-box;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

label {
  cursor: pointer;
  font-weight: 300;
  color: $black;
  margin-bottom: 0;
}

.form-control{
	font-size: 15px;
	color: $black;
	&:focus,
	&:active{
		color: $black;
	}
	&::placeholder{
		color: $appgrey;
	}
}