// All future configurable elements colors and dimensions reside here.

$wideminwidth:720px;
$confortableminwidth:1020px;

//paths
$fonts_dir : './assets/fonts/';
$icomoon-font-path: $fonts_dir + 'crust-icomoon' !default;
$icomoon-font-family: "crust-icomoon" !default;

//variabilize fonts, so we can change theme easily
$crustregular: 'nunito_sansregular';
$crustheavy : 'nunito_sansbold';
$crustsemibold : 'nunito_sanssemibold';

$gris-bleu: #90A3B1;
$bleu: #1397CB;
$white: #ffffff;
$black: #1E2224;
$error: #E85568;
$success: #00D53E;
$jaune: #FFCC32;
$vert-bleu: #2FBC95;
$gris: #F3F3F5;

$appyellow : #FFCC32;
$appred    : #E85568;
$appgreen  : #2FBC95;
$appblue   : #1397CB;
$applime   : #00D53E;
$appgrey   : #90A3B1;
$appcream  : #F3F3F5;
$appwhite  : #FFFFFF;

$appselectorbg : #EDF1F4;
$appselectoritembg : #fff;

//generics
$mainbgcolor      : #36393f;
$inactivebgcolor  : #36393f;
$hoverbgcolor     : #4f545c;
$defaulttextcolor : #8d8d8d;
$defaultlinkcolor : #f6f6f7;
$defaultbodysize  : 14px;
$defaultfirstlinecolor: #484b51;
$defaultlinecolor   : #3e4147;
$defaulticoncolor   : $gris-bleu;
$defaultitembgcolor : $gris-bleu;

//header
$headerbgcolor    : #fff;
$pfbgcolor        : #FFCC32;

//menupanes
$menupanebgcolor  : #fff;

//forms
$defaultbuttonbkg : #1397CB;
$defaultbuttontxt : #fff;
$focusbordercolor : #1397CB;
$searchbackgroundcolor: #4f545c;
$searchforegroundcolor: #8d8d8d;

//messages
$errorbkgcolor:#E85568;
$errortxtcolor:#fff;

//tabs
//background-tab
$tab_bgcolor             : #e8eae9;
$tab_hoverbg             : #1E2224;
$tab_hovercolor          : #fff;

//current tab
$curtab_topbordercolor   : #FFCC32;
$curtab_bgcolor          : #fff;

//footer
$footerbgcolor    : #fff;

//items :
$notificationcolor : #E85568;
$projectbgcolor    : #1397CB;
$projecttxtcolor   : #fff;
$tabbgcolor        : #1E2224;

$tabtitletxtcolor  : #FFCC32;
$tabitemtxtcolor   : #fff;
$tabcurrentbgcolor : #1397CB;

$messagebgcolor          : #fff;
$currentmessagebgcolor   : $tabcurrentbgcolor;
$currentmessagetxtcolor  : #fff;
$currentmymessagebgcolor : lighten(rgba($appblue,1),40%);
