
// All future configurable elements colors and dimensions reside here.

//paths
$fonts_dir : './assets/fonts/';
$icomoon-font-path: $fonts_dir + 'crust-icomoon' !default;

//variabilize fonts, so we can change theme easily
$crustregular: 'nunito_sansregular';
$crustheavy : 'nunito_sansbold';
$crustsemibold : 'nunito_sanssemibold';


$appyellow : #FFCC32;
$appred    : #E85568;
$appgreen  : #2FBC95;
$appblue   : #1397CB;
$applime   : #00D53E;
$appgrey   : #90A3B1;
$appcream  : #F3F3F5;

//generics
$mainbgcolor      : #EEF1F3;
$defaulttextcolor : #1E2224;
$defaultbodysize  : 14px;
$defaultlinecolor : #90A3B1;
$defaulticoncolor : #90A3B1;

//header
$headerbgcolor    : #fff;
$pfbgcolor        : #FFCC32;


//tabs
//background-tab
$tab_bgcolor             : #e8eae9;
$tab_hoverbg             : #1E2224;
$tab_hovercolor          : #fff;

//current tab
$curtab_topbordercolor   : #FFCC32;
$curtab_bgcolor          : #fff;

//footer
$footerbgcolor    : #fff;

//items :
$notificationcolor : #E85568;
$projectbgcolor    : #1397CB;
$projecttxtcolor   : #fff;
$tabbgcolor        : #1E2224;

$tabtitletxtcolor  : #FFCC32;
$tabitemtxtcolor   : #fff;
$tabcurrentbgcolor : #1397CB;

$messagebgcolor        : #fff;
$currentmessagebgcolor : $tabcurrentbgcolor;
$currentmessagetxtcolor: #fff;


