/* Import bootstrap styles from npm package */
@import './_0.declare-light';
@import '~bootstrap/dist/css/bootstrap.min.css';

/* stylelint-disable no-descending-specificity */

.clear {
  clear: both;
}

html, body {
  height: 100%;
  background: $mainbgcolor;
}

html body {
  color: $defaulttextcolor;
  font-size: $defaultbodysize;
}

a,
a:hover {
  color: $defaultlinkcolor;
}

.well {
  min-height: 20px;
  padding: 19px;
  margin: 10px 0;
  background-color: $appwhite;
  border-radius: 4px;
  -webkit-box-shadow: 0 0.1rem 0.2rem 0 rgba(30, 34, 36, 0.1);
  box-shadow: 0 0.1rem 0.2rem 0 rgba(30, 34, 36, 0.1);

  h2 {
    padding-bottom: 10px;
    font-weight: 900;
  }

  .btn-dark {
    margin-left: 0;
  }
}

.navbar-default .navbar-nav > li.dropdown:hover > a,
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
  background-color: rgb(231, 231, 231);
  color: rgb(85, 85, 85);
}

label {
  cursor: pointer;
  font-weight: 300;
  color: $black;
  margin-bottom: 0;
}

.form-control {
  font-size: 15px;
  color: $black;

  &:focus,
  &:active {
    color: $black;
  }

  &::placeholder {
    color: $appgrey;
  }
}

li.dropdown:hover > .dropdown-menu {
  display: block;
}

.vue-grid-item {
  overflow-x: hidden;
  overflow-y: auto;

  &:not(.vue-grid-placeholder) {
    background: #FFF;
    border: none;
    border-radius: 5px;
  }

  &.resizing {
    opacity: 0.9;
  }
}

.vue-grid-item.static {
  visibility: visible;
}

.vue-grid-item .text {
  font-size: 24px;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100%;
  width: 100%;
}

.vue-grid-item .no-drag {
  height: 100%;
  width: 100%;
}

.vue-grid-item .minMax {
  font-size: 12px;
}

.vue-grid-item .add {
  cursor: pointer;
}

.vue-draggable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10'><circle cx='5' cy='5' r='5' fill='#999999'/></svg>") no-repeat;
  background-position: bottom right;
  padding: 0 8px 8px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: pointer;
}

.vue-grid-item div {
  height: 100%;
}

.vue-grid-item div div {
  height: auto;
}

.vue-grid-item div.gridblock_contents {
  padding: 15px;
}

.vue-grid-item div.blockname {
  height: auto;
  float: left;
  text-transform: uppercase;
  font-size: 18px;
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.vue-grid-item div.block_header {
  float: left;
  font-size: 12px;
  width: 100%;
  padding: 0 0 10px;
  margin: 0 0 1px;
  border-bottom: solid 2px rgba($defaultfirstlinecolor, 0.25);
}

.vue-grid-item div.block_footer {
  float: left;
  font-size: 12px;
  width: 100%;
  height: auto;
  padding: 10px 0 0;
  margin: 0;
}

.vue-grid-item div .c3 {
  height: 192px;
  position: relative;
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
}

.vue-grid-item .form_row {
  position: relative;
  width: 100%;
  float: left;
  margin: 0 0 1px;
  padding: 0 0 7px;
}

.vue-grid-item .block_view_fields .form_row {
  border-bottom: solid 1px rgba($defaultlinecolor, 0.25);
}

.vue-grid-item .block_edit_fields .form_row {
  margin: 7px 0 0;
  padding: 0;
}

.vue-grid-item .form_label {
  color: rgba($defaulttextcolor, 0.75);
  display: block;
  font-size: 0.9em;
  margin: 0;
  padding: 0;
  text-align: left;
  font-weight: normal;
}

.vue-grid-item .block_view_fields .form_label {
  padding: 6px 0 0;
}

.vue-grid-item .form_value_viewing_mode {
  color: $defaulttextcolor;
  display: block;
  font-size: 1em;
  margin: 0;
  padding: 0;
  text-align: left;
  font-weight: bold;
}

.vue-grid-item input[type="text"], .vue-grid-item textarea, .vue-grid-item select {
  background-color: transparent;
  border: 1px solid $appgrey;
  border-radius: 5px;
  box-sizing: border-box;
  color: $defaulttextcolor;
  display: block;
  font-size: 1em;
  font-weight: 700;
  margin: 2px 0 8px;
  padding: 6px;
  width: 100%;
}

.vue-grid-item input[type="radio"],
.vue-grid-item input[type="checkbox"] {
  background-color: transparent;
  border: 1px solid $appgrey;
  border-radius: 5px;
  box-sizing: border-box;
  color: $defaulttextcolor;
  font-size: 1em;
  font-weight: 700;
  margin: 2px 0 8px;
  padding: 6px;
}

.vue-grid-item input[type="text"]:focus, .vue-grid-item textarea:focus, .vue-grid-item select:focus {
  border: 2px solid $appgreen;
  margin: 1px 0 7px;
}

.vue-grid-item .form_row br {
  line-height: 0;
  margin: 0;
  padding: 0;
  display: none;
}

.vue-grid-item .form_radio_checkbox_row {
  width: 100%;
  margin: 0 0 2px;
}

.vue-grid-item .form_radio_checkbox_row label {
  margin: 0 0 0 10px;
}

.vue-grid-item .container {
  padding: 0;
}

.vue-grid-item .filter-bar .form-group label, .vue-grid-item .filter-bar .form-group input, .vue-grid-item .filter-bar .form-group button {
  margin-right: 4px;
}

.vue-grid-item .filter-bar input[type="text"] {
  width: auto;
}

.actions {
  a {
    color: $black;
    vertical-align: middle;

    &.action {
      padding: 0 10px;
    }

    &:hover {
      text-decoration: none;

      i {
        color: $appblue;
      }
    }

    i {
      color: $black;
    }
  }

  .confirmation {
    display: inline-block;
    min-width: 110px;
    text-align: right;
  }

  .action {
    &-disabled {
      display: inline-block;
      width: 35px;
    }
  }
}
