/* Import bootstrap styles from npm package */
@import './_0.declare-light';
@import './components/pagination';
@import './components/actions';
@import '~bootstrap/dist/css/bootstrap.min.css';
/* stylelint-disable no-descending-specificity */

.clear {
  clear: both;
}

html, body {
  height: 100%;
  background: $mainbgcolor;
}

html body {
  color: $defaulttextcolor;
  font-size: $defaultbodysize;
}

a,
a:hover {
  color: $defaultlinkcolor;
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: $appwhite;
  border-radius: 4px;
  -webkit-box-shadow: 0 0.1rem 0.2rem 0 rgba(30, 34, 36, 0.1);
  box-shadow: 0 0.1rem 0.2rem 0 rgba(30, 34, 36, 0.1);

  h2 {
    padding-bottom: 10px;
    font-weight: 900;
  }

  .btn-dark {
    margin-left: 0;
  }
}

.navbar-default .navbar-nav > li.dropdown:hover > a,
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
  background-color: rgb(231, 231, 231);
  color: rgb(85, 85, 85);
}

label {
  font-weight: 300;
  color: $black;
  margin-bottom: 0;
}

.form-control {
  font-size: 15px;
  color: $black;

  &:focus,
  &:active {
    color: $black;
    border-color: $appblue;
    box-shadow: none;
  }

  &::placeholder {
    color: $appgrey;
  }
}

li.dropdown:hover > .dropdown-menu {
  display: block;
}

.vue-grid-item {
  overflow-x: hidden;
  overflow-y: auto;

  &:not(.vue-grid-placeholder) {
    background: #FFF;
    border-radius: 5px;
  }

  &.resizing {
    opacity: 0.9;
  }

  .text {
    font-size: 24px;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 100%;
    width: 100%;
  }

  .blockname {
    float: left;
    text-transform: uppercase;
    font-size: 18px;
    width: 100%;
    margin: 0;
    padding: 0;
    font-weight: bold;
  }

  .block_header {
    float: left;
    font-size: 12px;
    width: 100%;
    padding: 0 0 10px;
    margin: 0 0 1px;
    border-bottom: solid 2px rgba($defaultfirstlinecolor, 0.25);
  }

  .block_footer {
    float: left;
    font-size: 12px;
    width: 100%;
    height: auto;
    padding: 10px 0 0;
    margin: 0;
  }

  .form_row {
    position: relative;
    width: 100%;
    float: left;
    margin: 0 0 1px;
    padding: 0 0 7px;
  }

  .block_view_fields {
    .form_row {
      border-bottom: solid 1px rgba($defaultlinecolor, 0.25);
    }
  }

  .block_edit_fields {
    .form_row {
      margin: 7px 0 0;
      padding: 0;
    }
  }

  .form_label {
    color: rgba($defaulttextcolor, 0.75);
    display: block;
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    text-align: left;
    font-weight: normal;
  }

  .form_value_viewing_mode {
    color: $defaulttextcolor;
    display: block;
    font-size: 1em;
    margin: 0;
    padding: 0;
    text-align: left;
    font-weight: bold;
  }

  input[type],
  textarea,
  select {
    background-color: transparent;
    border: 1px solid $appgrey;
    border-radius: 5px;
    box-sizing: border-box;
    color: $defaulttextcolor;
    display: block;
    font-size: 1em;
    font-weight: 700;
    margin: 2px 0 8px;
    padding: 6px;
    width: 100%;

    &:focus {
      border: 1px solid $appblue;
    }
  }

  input[type="radio"],
  input[type="checkbox"] {
    background-color: transparent;
    border: 1px solid $appgrey;
    border-radius: 5px;
    box-sizing: border-box;
    color: $defaulttextcolor;
    font-size: 1em;
    font-weight: 700;
    margin: 2px 0 8px;
    padding: 6px;
  }
}

table {
  td {
    word-break: break-word;
  }
}
