$wideminwidth:767px;
$confortableminwidth:1020px;

//paths
$fonts_dir : './assets/fonts/';
$icomoon-font-path: $fonts_dir + 'crust-icomoon' !default;
$icomoon-font-family: "crust-icomoon" !default;

//fonts
$regular: 'nunito_sansregular';
$bold: 'nunito_sansbold';
$semibold: 'nunito_sanssemibold';

// Color system
$primary:       #1397CB;
$secondary:     #90A3B1;
$success:       #2FBC95;
$warning:       #FFCC32;
$danger:        #E85568;
$light:         #F3F3F5;

$white: #ffffff;
$black: #1E2224;
$success: #00D53E;

$appyellow : #FFCC32; //warning
$appred    : #E85568; //danger
$appgreen  : #2FBC95; //success
$appblue: #1397CB; //primary
$appgrey   : #90A3B1; //secondary
$appcream  : #F3F3F5; //light

$enable-rounded: false;

  //generics
$mainbgcolor      : $light;
$inactivebgcolor  : #36393f;
$hoverbgcolor     : #4f545c;
$defaulttextcolor : #8d8d8d;
$defaultlinkcolor : #f6f6f7;
$defaultbodysize  : 14px;
$defaultfirstlinecolor: #484b51;
$defaultlinecolor   : #3e4147;

//header
$headerbgcolor    : #fff;
$pfbgcolor        : #FFCC32;

//forms
$defaultbuttonbkg : #1397CB;
$defaultbuttontxt : #fff;
$focusbordercolor : #1397CB;
$searchbackgroundcolor: #4f545c;
$searchforegroundcolor: #8d8d8d;

//messages
$errorbkgcolor:#E85568;
$errortxtcolor:#fff;

//tabs
//background-tab
$tab_bgcolor             : #e8eae9;
$tab_hoverbg             : #1E2224;
$tab_hovercolor          : #fff;

//current tab
$curtab_topbordercolor   : #FFCC32;
$curtab_bgcolor          : #fff;

//footer
$footerbgcolor    : #fff;

//items :
$notificationcolor : #E85568;
$projectbgcolor    : #1397CB;
$projecttxtcolor   : #fff;
$tabbgcolor        : #1E2224;

$tabtitletxtcolor  : #FFCC32;
$tabitemtxtcolor   : #fff;
$tabcurrentbgcolor : #1397CB;

$messagebgcolor          : #fff;
$currentmessagebgcolor   : $tabcurrentbgcolor;
$currentmessagetxtcolor  : #fff;
$currentmymessagebgcolor : lighten(rgba($appblue, 1), 40%);
