$wideminwidth:767px;
$confortableminwidth:1020px;

// Paths
$fonts_dir : './assets/fonts/';
$icomoon-font-path: $fonts_dir + 'crust-icomoon' !default;
$icomoon-font-family: "crust-icomoon" !default;

// Typography
$regular: 'nunito_sansregular';
$bold: 'nunito_sansbold';
$semibold: 'nunito_sanssemibold';
$font-size-base: 0.85rem;

$font-family-base:      $regular;
$headings-font-family:  $semibold;

// Color system
$white:         #fff !default;
$black:         #000 !default;
$primary:       #1397CB;
$secondary:     #90A3B1;
$success:       #2FBC95;
$warning:       #FFCC32;
$danger:        #E85568;
$light:         #F3F3F5;
$dark:          #1e2224;

// Options
$enable-rounded: false;

// Components
$border-radius: 0;

// Body
$body-bg: $light;

// Tables
$table-cell-padding: 0.5rem;
$table-cell-padding-sm: 0.25rem;

$table-border-width: 0;

// Buttons
$btn-font-size: $font-size-base;
$btn-padding-y: 0.25em;
$btn-padding-x: 1em;
$btn-focus-width: 0;
$btn-focus-box-shadow: none;
$btn-active-box-shadow: none;

// Navbar
$navbar-bg:             $white;
$navbar-color:          $black;
$navbar-border:         $primary;
$navbar-active-bg:      $white;
$navbar-active-color:   $primary;
$navbar-active-border:  $primary;
$navbar-hover-bg:       $white;
$navbar-hover-color:    $primary;
$navbar-hover-border:   $primary;
$navbar-height:         50px;
$navbar-padding-y:      0;
$navbar-padding-x:      0;

$navbar-toggler-font-size:  24px;

$sidebar-width:         250px;
$sidebar-height:        calc(100vh - #{$navbar-height});

// Forms
$input-font-size: $font-size-base;

//forms
$input-btn-focus-width:        0;
$input-focus-box-shadow:       none;
$input-focus-border-color:     $primary;

// messages
$errorbkgcolor:#E85568;
$errortxtcolor:#fff;

//tabs
//background-tab
$tab_bgcolor             : #e8eae9;
$tab_hoverbg             : #1E2224;
$tab_hovercolor          : #fff;

//current tab
$curtab_topbordercolor   : #FFCC32;
$curtab_bgcolor          : #fff;

//footer
$footerbgcolor    : #fff;

//items :
$notificationcolor : #E85568;
$projectbgcolor    : #1397CB;
$projecttxtcolor   : #fff;
$tabbgcolor        : #1E2224;

$tabtitletxtcolor  : #FFCC32;
$tabitemtxtcolor   : #fff;
$tabcurrentbgcolor : #1397CB;

$messagebgcolor          : #fff;
$currentmessagebgcolor   : $tabcurrentbgcolor;
$currentmessagetxtcolor  : #fff;
$currentmymessagebgcolor : lighten(rgba($primary, 1), 40%);
